.body {
    background: #333;
}

.calculator-wpar {
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2% 0 0 2%;
    padding: 50px 50px 50px 50px;
    background: #FFF;
}

thead {
    font-weight: bold;
}

input.discount {
    width: 50px;
}

table.apply-form {
    width: 40%;
    font-weight: bold;
}